@media (max-width:700px){
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
    }
    .no-scroll{
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
    header{
        padding: 10px;
    }
    .navi{
        opacity: 0;
        visibility: hidden;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #eeba65;
        padding: 10px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .navi.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-menu{
        align-items: end;
        flex-direction: column;
        
    }
    .navi .nav-menu .nav-link{
        padding: 10px 0px;
        color: #1c1c1c !important;
    }
    .logo{
        padding-left: 0px;
        align-items: center;
    }
    .carousel{
        padding: 10px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
    .carousel{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .carousel-item,
    .d-block{
        height: 300px;
    }
    .nov{
        padding: 30px;
        text-align: center;
    }
    .nov1, .nov2, .nov3{
        height: 300px;
        margin: 10px;
        text-align: center;
        padding: 20px;
    }
    .nov h2{
        font-size: 24px;
    }
    .desc_nov{
        font-size: 14px;
    }
    .novedades{
        display: flex;
        flex-direction: column;
    }
    .desc_nov{
        display: none;
    }
    .container-info{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        background-color: #eeba65;
    }
    .mapa{
        max-width: 680px;
        align-items: center;
    }
    .mapa1{
        margin: 20px;
        height: 300px;
        width: 90%;
        border-radius: 20px;
        overflow: hidden;
    }
    .info ul{
        padding: 0px;
        text-align: center;
    }
}
@media (max-width: 1100px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        padding: 0px;
    }
    .nav-menu{
        padding-right: 0px;
        padding-left: 0px;
    }
    .carousel{
        padding-left: 30px;
        padding-right: 30px;
    }
    .nov{
        padding: 30px;
        text-align: center;
    }
    .nov1, .nov2, .nov3{
        height: auto;
        margin: 0;
        text-align: center;
        padding: 30px;
        text-align: center;
    }
    .nov h2{
        font-size: 24px;
    }
    .desc_nov{
        font-size: 14px;
    }
    .novedades{
        display: flex;
        flex-direction: column;
    }
    .desc_nov{
        display: none;
    }
    .container-info{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        background-color: #eeba65;
        margin: 20px;
    }
    .mapa1{
        margin: 20px;
        height: 400px;
        width: 90%;
        border-radius: 20px;
        overflow: hidden;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }

    .footer-social {
        justify-content: center;
    }
}